<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- Website CSS style -->
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/login.css">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Jacob Thorton</title>
	</head>
	<body>
		<div class="container">
			<h1 class="title">Jacob Thornton</h1>
			<img src="img/user_image.png" style="width: 20%">
			<br><br><br>
			<ul class="submenu">
				<li><a href="#"> Date of Birth : 01/02/1992</a></li>
				<li><a href="#">Address : USA,California</a></li>
				<li><a href="mailto:gurdeepjawaddi94@gmail.com">Email : jacobthornton@gmail.com</a></li>
				<li><a href="#">Phone : +91 54624-79956</a></li>
			</ul>
		
		</div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>